<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post">
    <label>Name
        <input type="text" th:field="${event.name}" class="form-control" />
    </label>
    <p class="error" th:errors="${event.name}"></p>
    </div>
    <div class="form-group">
        <label>Description
            <input type="text" th:field="${event.description}" class="form-control" />
        </label>
        <p class="error" th:errors="${event.description}"></p>
    </div>
    <div class="form-group">
        <label>Contact Email
            <input type="text" th:field="${event.contactEmail}" class="form-control" />
        </label>
        <p class="error" th:errors="${event.contactEmail}"></p>
    </div>

    <div class="form-group">
        <label>Type
            <select th:field="${event.type}">
                <option th:each="type : ${types}" th:value="${type}" th:text="${type.displayName}"
                ></option>
            </select>
        </label>
        <p class="error" th:errors="${event.contactEmail}"></p>
    </div>

    <br>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success">
    </div>
</form>

</body>
</html>